<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
<head>
	<title>HOME PAGE</title>
	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
	<script src="jquery-3.3.1.min.js"></script>
<style>
  @media screen and (min-width: 1366px){
  	.large_content{
  		height: 120vh;
  	}
  }
</style>
</head>
<body id="body">
  	<%= render 'layouts/header' %>

		<div class="large_content">
		<div class="container" style="margin-top: -30px">
			<h1>About Us</h1>
			<p id="homep">This website serves to match a tutor with a tutee. We do not take responsibility for any issues
			that occur as a result of using this website.
			</p>
		</div>
 	<!-- <button id="top" onload ="hide()" onclick="topFunction()" >Top</button> -->
 
 	<div class="filler"></div>
</body>
</html>
