<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <body>
<<<<<<< HEAD
    <h1>Help</h1>
    <p>
      Temporary Help page.
    </p>
=======
    
     <%= render 'layouts/header' %>
    <div class="center jumbotron">
        <h1>Help</h1>
      
        <h2>
          This is the help page for the
          Tutor application. To sign up for tutoring (or to become a tutor), <br>
          press the button below!
        </h2>
      
        <%= render 'layouts/button' %>
      </div>
>>>>>>> 2e8f54c59f412c13620ed903bfe8678d1e5649c4
  </body>
</html>