<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <body>
    
     <%= render 'layouts/header' %>
    <div class="center jumbotron">
        <h1>Help</h1>
      
        <h2>
          This is the help page for the
          Tutor application. To sign up for tutoring (or to become a tutor), <br>
          press the button below!
        </h2>
      
        <%= render 'layouts/button' %>
      </div>
  </body>
</html>