<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
	<title>HOME PAGE</title>
	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
	<script src="jquery-3.3.1.min.js"></script>
</head>
<body id="body">
	<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link"  id="active" href="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
          	<a class="nav-link" href="/about">About</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/studygroup">Study Group</a>
          </li>
        </ul>
      <a class="navbar-brand" href="/home">CV Enterprises</a>
      </div>
    </nav>
	<div class="large_content">
		<div class="container">
			<h1 id="homeh1">Tutor Matching</h1>
			<p id="homep">This is the home page for the Tutor Matching page. Click the button below to sign up to be a tutor! </p>		
		</div>
			
		<a href="/signup">
				<button id="button"> Find a Tutor</button>	
		</a>
		<a href="/login">
			<button id="tutor"> Login </button>
		</a>
		<a href="/tutorsignup">
			<button id="tutor"> I'm a Tutor</button>	
		</a>
 	</div>
 	<!-- <button id="top" onload ="hide()" onclick="topFunction()" >Top</button> -->
	<center>
	 	<div class="small_content">
			Need Help? 		
	 	 	<p>
	 	 		Our website will match you with a tutor in any subject - just click the button, enter your name, grade, and the subject in which you need help.
	 	 			
	 	 	</p>
 	 	</div>
 	</center>
 	<div class="filler"></div>
</body>
</html>
