<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="center jumbotron">
      <h1>Welcome to the Tutor Program</h1>
    
      <h2>
        This is the home page for the
        Tutor application.
      </h2>
    
      <%= render 'layouts/button' %>
    </div>
  </body>
</html>