<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
<head>
	<title>HOME PAGE</title>
	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
	<script src="jquery-3.3.1.min.js"></script>
</head>
<body id="body">
	<%= render 'layouts/header' %>
	
	
	<div style= "height: 100%" class="large_content">
		<div class="container">
			<h1 id="homeh1">Tutor Matching</h1>
			<p id="homep">Welcome to Tutor Matching! Click a button below to sign up to tutor others or to receive tutoring. </p>		
		</div>
		
		<div id="wrapper">	
			<a href="/findatutor" id="animatedbutton" class="Findatutor">
			  Find a tutor &#x1F50E <br> (for CVHS students)
			</a>
			<a href="/findatutorRosemont" id="animatedbutton" class="FindatutorR">
			  Find a tutor &#x1F50E <br>(for Rosemont students) 
			</a><div><p></p></div>
		</div>
		<% if !Person.find_by(id: session[:tutor_id]) %>
	  		<a href="/tutorsignup" id="animatedbutton">
	  		  Sign up as a tutor
	  		</a>
  		<% end %>
		 <% if !Person.find_by(id: session[:tutor_id]) %>
		  	<a href="/login" id="animatedbutton">
		    Login
	    	</a>
	    <% end %>
	    
	 <!--   <a href="/joinZoom" id="zoombutton">-->
		<!--  ZOOM-->
		<!--</a>-->
</body>
</html>