<li style="background-color: rgb(55,155,55,.4); ">
    <% @freshmanId = freshmen.people_id %>
    <% @tempPerson = Person.find_by(id: @freshmanId) %>
    
    <% if @tempPerson %>
     <%= link_to @tempPerson.name, person_path(@tempPerson.id) %>
    <% end %>
   
    <% if Person.find_by(id: session[:tutor_id]).admin?%> 
    | <%= link_to "delete", Person.find_by(id: @freshmanId), method: :delete,
                                  data: { confirm: "Are you sure you want to delete this account?" } %>
    <% end %>
</li>