<% if  @study_groups.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize( @study_groups.errors.count, "error") %>.
    </div>
    <ul>
    <%  @study_groups.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

