<% provide(:title, "Find a Tutor") %>
<!DOCTYPE html>
<html>
<head>
	<title>HOME PAGE</title>
	<link href="https://fonts.googleapis.com/css?family=Signika|Ubuntu|Quicksand|Lato|Arimo|Cabin" rel="stylesheet">
	<script src="jquery-3.3.1.min.js"></script>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body id="body">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/studygroup">Study Group</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/findatutor">Find a Tutor</a>
      </li>
      <% if Person.find_by(id: session[:tutor_id]) %>
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </button>
          <ul class="dropdown-menu">
           <% if Person.find_by(id: session[:tutor_id]).admin? %>
              <li class = "dropdown-item"><%= link_to "Profile", adminPage_path %></li>
            <% else %>
              <li class = "dropdown-item"><%= link_to "Profile", person_path(Person.find_by(id: session[:tutor_id])) %></li>
            <% end %>
            <li class="divider"></li>
            <li class = "dropdown-item">
              <%= link_to "Log out", logout_path, method: :delete %>
            </li>
          </ul>
      </ul>
      
      <a class="navbar-brand" href="/home">CV Enterprises</a>
    </div>
    </nav>
      <% else %>
        
      <% end %>
</nav>
	<div class="large_content" style="background-position: 30% 37%">
		<div class="container">
			<h1 id="homeh1">Find a tutor</h1>
			<p id="homep"></p>		
		</div>
			
 	</div>
 	
 	<div>
    <div  class="col-md-6 col-md-offset-3" id="findatutorcontainer">
 	    <%= form_tag(findatutor_path, method: :get) do %>
 	       <h4 class="findatutor_heading">Subject  </h4>
 	      
 	       <div>
   	       <select name="searchName" id="searchName">
   	          <option value="blank">Select</option>
   	          <option value="American Government">American Government</option>
   	          <option value="American Literature">American Literature</option>
   	          <option value="Biology">Biology</option>
   	          <option value="Chemistry">Chemistry</option>
   	          <option value="Computer Science (buffet)">Computer Science (buffet)</option>
   	          <option value="ELD Level 1-2">ELD Level 1-2</option>
   	          <option value="ELD Level 3">ELD Level 3</option>
   	          <option value="ELD Level 4">ELD Level 4</option>
              <option value="ELD Level 5">ELD Level 5</option>
   	          <option value="Earth Space Science">Earth Space Science</option>  
   	          <option value="Economics">Economics</option>
   	          <option value="English 10 Honors">English 10 Honors</option>
   	          <option value="English 10">English 10</option>
   	          <option value="English 9 Advanced">English 9 Advanced</option>
   	          <option value="English 9">English 9</option>
   	          <option value="English Literature">English Literature</option>
   	          <option value="French 1-2">French 1-2</option>
              <option value="French 3-4">French 3-4</option>
              <option value="French 5-6">French 5-6</option>
              <option value="German 1-2">German 1-2</option>
              <option value="German 3-4">German 3-4</option>
              <option value="German 5-6">German 5-6</option>
              <option value="German 5-6 Honors">German 5-6 Honors</option>
              <option value="Health">Health</option>
   	          <option value="Human Geography">Human Geography</option>  
   	          <option value="Int Math II Concepts">Int Math II Concepts</option>
   	          <option value="Integrated Math I">Integrated Math I</option>
              <option value="Integrated Math II">Integrated Math II</option>
              <option value="Integrated Math II Accelerated">Integrated Math II Accelerated</option>
              <option value="Integrated Math III">Integrated Math III</option>
              <option value="Integrated Math III Accelerated">Integrated Math III Accelerated</option>
   	          <option value="Intervention Math">Intervention Math</option> 
   	          <option value="Kinesiology">Kinesiology</option>
   	          <option value="Korean 1-2">Korean 1-2</option>
              <option value="Korean 3-4">Korean 3-4</option>
              <option value="Korean 5-6">Korean 5-6</option>
              <option value="Linear Algebra Honors">Linear Algebra Honors</option>
              <option value="Lit for Success">Lit for Success</option>
              <option value="Math Analysis">Math Analysis</option>
              <option value="Math Analysis Honors">Math Analysis Honors</option>
              <option value="Math Thinking">Math Thinking</option>
              <option value="Medical Biology">Medical Biology</option>
              <option value="Physics">Physics</option>
              <option value="Physiology">Physiology</option>
              <option value="Physiology Honors">Physiology Honors</option>
              <option value="Psychology">Psychology</option>
              <option value="Sociology">Sociology</option>
              <option value="Spanish 1-2">Spanish 1-2</option>
              <option value="Spanish 3-4">Spanish 3-4</option>
              <option value="Spanish 5-6">Spanish 5-6</option>
              <option value="Sports Medicine">Sports Medicine</option>
              <option value="Trigonometry/Statistics">Trigonometry/Statistics</option>
              <option value="US History">US History</option>
              <option value="World History">World History</option>
              <option value="AP Biology">AP Biology</option>
              <option value="AP Calculus AB">AP Calculus AB</option>
              <option value="AP Calculus BC">AP Calculus BC</option>
              <option value="AP Chemistry">AP Chemistry</option>
              <option value="AP Computer Science">AP Computer Science</option>
              <option value="AP Economics">AP Economics</option>
              <option value="AP English Language">AP English Language</option>
              <option value="AP English Literature">AP English Literature</option>
              <option value="AP Environmental Science">AP Environmental Science</option>
              <option value="AP European History">AP European History</option>
              <option value="AP French Language">AP French Language</option>
              <option value="AP German Language">AP German Language</option>
              <option value="AP Government/Politics">AP Government/Politics</option>
              <option value="AP Human Geography">AP Human Geography</option>
              <option value="AP Physics 1">AP Physics 1</option>
              <option value="AP Physics 2">AP Physics 2</option>
              <option value="AP Physics C">AP Physics C</option>
              <option value="AP Psychology">AP Psychology</option>
              <option value="AP Spanish Language (7-8)">AP Spanish Language (7-8)</option>
              <option value="AP Spanish Literature (9-10)">AP Spanish Literature (9-10)</option>
              <option value="AP Statistics">AP Statistics</option>
              <option value="AP US History">AP US History</option>
          </select>
 	       </div>
 	       <h4 class="findatutor_heading">Day </h4>
 	      <select name="searchDate" id="searchName">
 	          <option value="All">Any day</option>
   	        <option value="Sunday">Sunday</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
          </select>
          <input type="submit" name="commit" value="Search" data-disable-with="Search" id="specialanimatedbutton" class="btn btn-primary findatutorbutton">	    
        <% end %>
 	  </div>
 	</div>
</body>
</html>
