.nodisplay{
	display: none;
}
.blockdisplay{
	display: block;
}
#splitthecols{
	column-count: 6;
	padding-left: 0px !important;
}
#dropdown-responsive-subjects{
	display: none;
}
#checkbox-desktop-subjects{
	display: block;
}
.listsubjects{
	padding: 0 !important;
	max-width: 90% !important;
	margin: auto;
}
.listsubjects label{
	font-size: 0.83333vw;
}
#container-subjects{
	max-width: 90%;
	margin: auto;
	margin-top: 40px;
}
#splitthecols div{
	display: inline-block;
}
.groupDelete{
	font-color: black!important;
}
.requestscontainer{
	padding-left: 0 !important;
}
.listsubjects{
	display: inline-block;
	
}
.requestscontainer-responsive{
	display: none;
}
#splitthecols{
	padding: 20px;
}
.nodisplay{
	display: none;
}
.blockdisplay{
	display: block;
}
#dropdown-subjects{
	display: none;
}
.studygroupsendrequest, .tutorsendrequest{
    height: 31% !important;
    padding: 0px !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    width: 25vw !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    font-size: 40px !important;
    border-radius: 10px;
}
.studygroupsendrequest input, .tutorsendrequest input{
	height: 5vh !important;
	width: 90% !important;
	font-size: 13px !important;
	margin: auto;
	padding: 5px;
}
.studygroupsendrequest .fa-times, .tutorsendrequest .fa-times{
	position: absolute;
	top: 6px;
	right: 6px;
}
.findatutor_heading{
	height: 5vh;
	font-size: 19px;
	padding: 5px;
	padding-top: 18px;
	margin-top: 0px;
	line-height: 100%;
}
.studygroupsendrequest input, .tutorsendrequest input{
	padding: 10px !important;
	width: 70% !important;
	font-size: 15px !important;
}
.request_container{
		width: 100vw;
		height: 100vh;
		background-color: rgba(0,0,0,0.5);
		position: fixed;
		top: 0;
		left: 0;
	}
button:focus{
	outline: 0;
}
.row{
	margin: 0px;
}
#border{
	border-right: 1px solid white;
}
.small_content{
	padding: 200px;
	width: 100%;
	font-family: Signika;
	font-size: 50px;
	color: white;
	float: center;
	display: block;
	// background-color: #eee;
	//background-color: #669999;
	// background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/29/37/07583f8326c8274.jpg");
	// background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-repeat: no-repeat;
	background-size: 100%;
}
.small_content p{
	font-size: 20px;
	font-family: Lato;
	text-align: center;
}
.col-lg-6{
	text-align: center;
	padding-bottom: 20px;
}
#large_content{
	padding-bottom: 50px;
}
.large_content{
	padding-bottom: 50px;
	text-align: center;
	padding-top: 150px;
	// background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
//	background-color: rgb(44, 54, 82);

	background-image: url("https://images.pexels.com/photos/159752/pencil-office-design-creative-159752.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.large_content a{
	width: auto;
}
.large_content h1{
	color: white;
	font-weight: bold;
	font-family: Cabin;
	font-size: 5vw;
	margin-bottom: 50px;
	z-index: 100;
}
.large_content p{
	color: white;
	font-family: Signika;
	font-size: 27px;
	max-width: 50%;
	position: relative;
	top: 0;
	line-height: 1.8em;
	margin-bottom: 50px;
}
#homep{
	width: 100%;
	text-align: center;
	display: inline-block;
}
.animatedbutton{
	margin: 20px auto;
	display: block;
	padding: 14px 10px;
	background-color: rgba(255, 255, 255, 1);
	text-align: center;
	width: 12.625vw;
	outline: blue;
	border: 2px solid #12dbff;
	border-radius: 24px;
	transition: 0.3s;
}
.animatedbutton:hover{
	text-decoration: none;
	width: 280px;
	transition: 0.3s;
	border-color: #12dbff;
	background-color: #222222;
	color: white;
}
#animatedbutton{
	color: black;
	margin: 20px auto;
	display: block;
	padding: 14px 10px;
	background-color: rgba(255, 255, 255, 1);
	text-align: center;
	width: 200px;
	border: 1px solid black;
	border-radius: 24px;
	transition: 0.3s;
}
#specialanimatedbutton{
	color: black;
	margin: 20px auto;
	display: block;
	padding: 14px 10px;
	background-color: rgba(255, 255, 255, 1);
	text-align: center;
	width: 200px;
	outline: blue;
	border: 2px solid #12dbff;
	border-radius: 24px;
	transition: 0.3s;
}
#specialanimatedbutton:hover{
	text-decoration: none;
	transition: 0.3s;
	border-color: #12dbff;
	background-color: #222222;
	color: white;
}
#specialanimatedbuttontop{
	color: black;
	margin: 20px auto;
	display: block;
	padding: 14px 10px;
	background-color: rgba(255, 255, 255, 1);
	text-align: center;
	width: 200px;
	outline: blue;
	border: 2px solid #12dbff;
	border-radius: 24px;
	transition: 0.3s;
}
#specialanimatedbuttontop:hover{
	text-decoration: none;
	transition: 0.3s;
	border-color: #12dbff;
	background-color: #222222;
	color: white;
}
#animatedbutton:hover{
	text-decoration: none;
	width: 280px;
	transition: 0.3s;
	border-color: #12dbff;
	background-color: #222222;
	color: white;
}
.idk{
	font-family: Lato;
	font-size: 22px;
	margin-top: 30px;
	width: 7em;
	height: 3em;
	border-radius: 5em;
	background-color: white;
	transition: 0.3s;
	padding: 5px 5px;
	border-radius: 50%;
}
.overwrite{
	font-family: Lato;
	font-size: 22px;
	margin-top: 30px;
	width: 10em;
	height: 3em;
	border-radius: 10em;
	background-color: black;
	transition: 0.3s;
}
.large_content button:hover{
	transition: 0.3s;
	// background-color: lightslategray;
	cursor: pointer;
}
.idk button:hover{
	transition: 0.3s;
	background-color: lightslategray;
	cursor: pointer;
}
.container-fluid{
	padding: 0;
	width: 50%;
}
.container{
	max-width: 100%;
}
#color{	
	background-color: #eee;
	padding-right: 10px;
	padding: 30px;
}
.col-lg-8 p{
	font-size: 17px;
	line-height: 2em;
}
.col-lg-8 button{
	position: relative;
	padding: 15px;
	width: 10em;
	border-radius: 10px;
}
.col-lg-4{
	overflow: hidden;
}
.specific_content{
	width: 100%;
}
a{
	//color: black;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: black;
}
.img{
	height: 256px;
	width: 256px;
	overflow: hidden;
}
.img img{
	height: 256px;
	width: 256px;
}
#top{
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	border-radius: 10em;
	width: 5em;
	background-color: white;
	transition: 0.3s;
}
#top:hover{
	background-color: #eee;
	transition: 0.3s;
	cursor: pointer;
}
/*Navbar stuff
*/
.bg-dark{
	transition: 0.2s ease-in-out;
}
#bg-dark{
	//background-color: rgba(0,0,0,0) !important;
	margin-bottom: 15px !important;
}
.navbar{
  padding-bottom: 0px !important;
  position: fixed !important;
  top: 0;
  left: 0;
  //position: relative;
  width: 100% !important;
  font-family: Signika;
  transition: 0.2s ease-in-out;
}
.navbar-light .navbar-brand {
	font-size: 15px;
}
.nav-item{
  font-size: 16px;
  position: relative;
  color: #000;
  text-decoration: none;
  padding-bottom: 0.3rem;
}
.nav-item:hover {
  color: black;
}
//CODE TO MAKE LINE APPEAR BELOW ELEMENTS IN NAVBAR
.nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: teal;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.navbar-dark .navbar-nav .nav-link{
	color: white !important;
}
.navbar-nav .active > .nav-link{
	color: rgba(66, 135, 245, 1) !important;
	font-weight: bold;
}
//end navbar

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav{
    	width: 100vw;
    	height: 100vh;
    }
    .nav-item:hover:before {
	  visibility: hidden;
	  -webkit-transform: scaleX(1);
	  transform: scaleX(1);
	}
}
#body{
	padding-top: 0;
	min-height: 100vh;
	max-height: 150vh;
	height: 100vh;
	// background-image: url("https://images.pexels.com/photos/315938/pexels-photo-315938.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") !important;
//	background-color: rgb(41, 55, 99) !important;
}

/*Tutor signup css*/
.col-md-6{
	padding: 50px;
	text-align: center;
	max-width: 30% !important;
	margin: auto;
}
h1{
	padding-left: 2.60vw;
	padding-top: 2.6vw;
}
#bottominput{
	margin-bottom: 24px;
}
.col-lg-6 p{
	display: inline;
	padding-top: 1em;
	width: 50%;
	margin: 0;
	text-align: center;
	left: 0;
	top: 30%;
	z-index: 100;
}
.col-lg-6 h1{
	z-index: 100;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

center{
	text-align: center;
}
//media queries
@media only screen and (max-width: 760px){
	.large_content h1{
		text-align: center;
	}
	.nav-item:hover:before {
	  visibility: hidden;
	  -webkit-transform: scaleX(1);
	  transform: scaleX(1);
	}
    .sidepopup{
    	width: 100vw;
    }
    .side{
    	width: 100vw;
    	height: 100vh;
    }
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray-lighter;
  }
}
#lettercolor{
	color: black;
}


.defaultlink{
	color: #0645AD;
}
.defaultlink:hover{
	color: #0645AD;
	text-decoration: underline;
}




.login_background{
	background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-size: 100%;
}
h1#bob{
    padding-left: 0!important;
    margin-top: 15px;
}
aside.col-md-4{
	padding-left: 0px !important;
}
#bob{
	color: white;
}
#edit_profile{
	width: 10em;
}
#martin{
	 background-image: url("https://img1.akspic.com/image/114418-skyscraper-architect-modern_architecture-day-glass-1280x1024.jpg");
	 background-size: 100%;
}
#not_taken{
	height: 100vh;
	background-image: url("https://images.pexels.com/photos/3107624/pexels-photo-3107624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-size: cover;
	padding: 50px;
	// background-size: cover;
	 //height:100%;
    // overflow-y:auto;
	//background: #12c2e9 !important;  /* fallback for old browsers */
	//background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
	//background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#req-responsive{
	display: none;
}
#not_taken .row{
	height: 80%;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
#not_taken h1{
	color: white;
}
#center_save_changes{

	text-align: center;

	text-align:center;
}
table, th, td {
  border: 1px solid white;
  font-size: 30px;

}
#createsubjectbutton{
	padding: 1.4vw;
	font-family: Lato;
	font-size: 1.2vw;
}
#createsubjectdropdown{
	padding: 10px;
}
#createsubjectlargecontent{
	background-image: url("https://images.pexels.com/photos/374023/pexels-photo-374023.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-position: bottom;
}
#createsubjecth1{
	color: white;
}
input, select{
	border-radius: 20px!important;
}
.dropdown-toggle{
	color: #007bff !important;
}
#tutor_signup_large_content{
	background-image: url("https://img1.akspic.com/image/114418-skyscraper-architect-modern_architecture-day-glass-1280x1024.jpg");
}
#change_profile_pic{
	height: 80px;
	padding-top: 25px;
}
.flash{
	padding-top: 250px;
}

//admin tutors page
ul.tutors{
	list-style: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: left;
}
ul.tutors li{
	// margin-bottom: 10px;
	border: 1px solid black;
	border-bottom: none;
	color: black;
	width: auto;
	padding: 10px;
	background-color: transparent;
}
ul.tutors li:last-child{
	border-bottom: 1px solid black;
}
ul.tutors li:hover{
	outline: #4d90fe solid 1px;
	background-color: #e8f0fe;
	border-top: 1px solid white;
}
ul.tutors li img{
	width: 40px;
}
#admintutors{
	//background-image: url("https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	background-color: black;
	background-size: cover;
}
#VisualSubjects tr th{
	font-weight: normal;
	font-family: "Arimo";
}
#VisualTable{
	color: white;
	width: 90vw !important;
	table-layout: fixed;
}
#VisualTable th{
	width: 50%;
	padding: 5px;
	background-color:rgba(255,255,255,0.45);
}
#VisualSubjects{
	width: 90vw !important;
	color: white;
	background-color:rgba(255,255,255,.09);
	table-layout: fixed;
}
#VisualSubjects th{
	width: 50%;
	padding: 5px;
	background-color:rgba(255,255,255,.1);
}
#downloadExcel{
	position: absolute;
	margin-left: 0%;
}
#downloadExcel a{
	color: #007bff !important;
}
.findatutor_heading{
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-size: 16px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}
#findatutorcontainer input:not(:last-child){
	margin: 10px;
	width: 70%;
	height: 40px;
	padding: 20px;
}
#findatutorcontainer input:last-child{
	margin-top: 20px;
	// width: 60%;
	height: 50px;
	padding: 5px;
}
#findatutor_headingavailabletutors{
	font-family: Lato;
	margin-left: 20px;
}

#searchName{
	width: 70%;
	height: 44px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	outline: none;
	margin-bottom: 20px;
}
#searchDate{
	outline: none;
	border: 1px solid #a9a9a9;
}
.findatutorbutton{
	display: inline !important;
	height: 60px !important;
	padding: 15px !important;
}




//Tutor cards
.tutordisplaycard{
	width: 45vw;
	height: 12.6vw;
	margin: auto;
	/* border: 1px solid black; */
	background-color: #eee;
	position: relative;
	box-shadow: 8px 5px 1px #081a80;
	margin-top: 40px;
	border-radius: 20px;
}
.tutorgrade{
	float: left;
	width: 28%;
	height: 100%;
	font-family: "Red Hat Text";
	text-align: center;
	font-size: 8vw;
	background-color: cornflowerblue;
	padding: 10px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.tutorGradeLabel{
	padding-top: 1vw;
	padding-bottom: 1vw;
	text-align: center;
	font-family: "Red Hat Text";
	font-size: 6vw;
}
.tutorname{
	float: left;
	padding-top: 1.566vw;
	padding-left: 6%;
	font-family: "Cabin";
	text-transform: uppercase;
	font-weight: 700px;
	font-size: 1.8229vw;
}
.tutorname a{
	color: black !important;
}
.tutorname a:hover{
	text-decoration: none;
}
.date{
	// font-size: 20px;
	font-family: "Red Hat Text";  //"Cabin"
	position: absolute;
	right: 4%;
	bottom: 1.1666vw; //1.5666vw
	font-size: 1vw;
}	
.rate{
	float: left;
	position: absolute;
	left: 34%;
	bottom: 3vw;
	font-family: "Red Hat Text";
	font-size: 1vw;
}
.timeslot{
	float: right;
	position: absolute;
	right: 4%;
	bottom: 3vw;
	font-family: "Red Hat Text";
	font-size: 1vw;
}
.tutorsendrequest{
	// border: 1px solid black;
	float: right;
	height: 100%;
	position: absolute;
	left: 97%;
	top: 0px;
	width: 15vw;
	// padding-top: 0px;
	padding: 10px;
	transition: 0.2s;
	transform-origin: 0% 50%;
	transform: scaleX(0);
	background: #E0EAFC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-size: 15px;
	height: 31% !important;
    padding: 0px !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    width: 25vw !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    font-size: 40px !important;
    border-radius: 10px;
}
.tutorsendrequest h4{
	margin-top: -1vw;
}
.tutorsendrequest input{
	height: 2vw !important;
	width: 14vw !important;
	margin-top: 0 !important;
	margin-bottom: -1vw !important;
	padding: 1vw;
	font-size: 0.8vw;
}
.tutorsendrequest #specialanimatedbutton{
	float: right;
	width: 12vw;
	height: 5vw;
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	padding: 0.1vw;
}

.tutordisplaycard:hover{
	cursor: pointer;
}
.tutordisplaycard:hover .tutorsendrequest{
	visibility: visible;
	transition: 0.2s;
	transform: scaleX(1);
}
.studygroupcreator{
	float: left;
	width: 28%;
	height: 100%;
	background-color: black;
	font-family: "Red Hat Text";
	text-align: center;
	font-size: 3vw;
	padding: 10px;
	color: white;
}

//group study stuff
.studygroupdisplaycard{
	width: 45vw;
	height: 12.6vw;
	margin: auto;
	background-color: #fbfbfb;
	position: relative;
	box-shadow: 8px 5px 1px #081a80;
	margin-top: 40px;
	border-radius: 20px;
}
.availablespots{
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	width: 28%;
	height: 20%;
	font-family: "Red Hat Text";
	text-align: center;
	font-size: 1vw;
	background-color: cornflowerblue;
	color: black;
	padding: 10px;
	border-bottom-left-radius: 20px;
}
.groupsize{
	box-sizing: border-box;
	float: left;
	width: 28%;
	height: 80%;
	font-family: "Red Hat Text";
	text-align: center;
	font-size: 7vw;
	background-color: cornflowerblue;
	color: black;
	padding: 20px;
	border-top-left-radius: 20px;
}
.host{
	float: left;
	padding-top: 1.566vw;
	padding-left: 6%;
	font-family: "Lato";
	text-transform: uppercase;
	font-weight: 700px;
	font-size: 1.8229vw;
}
.studydate{
	// font-size: 20px;
	font-family: "Cabin";
	position: absolute;
	right: 6%;
	bottom: 1.5666vw;
	font-size: 1vw;
}	
.location{
	float: right;
	margin-right: 6%;
	margin-top: 1.7vw;
	font-size: 20px;
	font-family: Cabin;
}
.location:hover{
	cursor: pointer;
}
.location:hover .loc-popup{
	transform: scaleY(1);
	visibility: visible;
	transition: transform 0.3s visibility 0.1s;
}
.loc-popup{
	font-family: Poppins;
	position: absolute;
	left: 78%;
	top: -35%;
	background-color: black;
	color: white;
	padding: 1.5vw;
	// box-sizing: border-box;
	max-width: 100%;
	width: 14vw;
	transform: scaleY(-0.0000000000000000000000000000000001);
	// visibility: hidden;
	transition: transform 0.3s;
	font-size: 18px;
	display: inline-block;
}
.contact{
	float: left;
	position: absolute;
	left: 34%;
	bottom: 1.566vw;
	font-family: "Red Hat Text";
	font-size: 20px;
}
.creatorname{
	float: left;
	position: absolute;
	left: 34%;
	bottom: 2.9vw;
	font-family: "Red Hat Text";
	font-size: 20px;	
	font-weight: bold;
}
.fa-question-circle{

}
.required{
	color: red;
	font-size: 15px;
	margin-left: 5px;
}

.form-control{
	margin-bottom: 20px;
}

.requestname{
	width: 16vw;
	font-size: 1.3vw;
}
.requestday{
	width: 25vw;
	font-size: 1.3vw;
}
.requestemail{
	width: 20vw;
	font-size: 1.3vw;
}
.requestsubject{
	width: 20vw;
	font-size: 1.3vw;
}
.tutoringsubject{
	width: 43vw;
	font-size: 1.3vw;
}
.tutoringday{
	width: 23vw;
	font-size: 1.3vw;
}
.tutoringrate{
	width: 15vw;
	font-size: 1.3vw;	
}
.tutoringoptions{
	width: 24vw;
	font-size: 1.3vw;	
}
#personnameandemail{
	font-size: 2vw;
}
.fa-mobile{
	// position: absolute;
	// bottom: 1.56666vw;
	// left: -5px;
	transform: translateY(6px);
	margin-right: 5px;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: white !important;
}
.dropdown-menu{
	background-color: #212529;
}
.spacer{
	height: 40px;
}
#delete_account_admin{
	transform: scaleX(1.5) scaleY(1.5);
	margin-left: 2.1vw;
}
#delete_account_admin a{
	font-size: 0.8rem;
	padding: 15px;
	color: black !important;	
}
.studygroupdisplaycard{
	
}
.studygroupdisplaycard:hover{
	cursor: pointer;
}
.studygroupdisplaycard:hover .studygroupsendrequest, input:focus .studygroupsendrequest{
	visibility: visible;
	transition: 0.2s;
	transform: scaleX(1);
}
.popoutrequest{
	visibility: visible !important;
	transition: 0.2s !important;
	transform: scaleX(1) translate(-50%, -50%) !important;
}
.studygroupsendrequest{
	// border: 1px solid black;
	float: right;
	height: 100%;
	position: absolute;
	left: 98%;
	top: 0px;
	width: 15vw;
	// padding-top: 0px;
	padding: 10px;
	transition: 0.2s;
	transform-origin: 0% 50%;
	transform: scaleX(0);
	background: #E0EAFC;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-size: 15px;
}
.studygroupsendrequest h4{
	margin-top: -1vw;
}
.studygroupsendrequest input{
	height: 2vw !important;
	width: 14vw !important;
	margin-top: 0 !important;
	margin-bottom: -1vw !important;
	padding: 1vw;
	font-size: 0.8vw;
}
.studygroupsendrequest #specialanimatedbutton{
	float: right;
	width: 12vw;
	height: 5vw;
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translateX(-50%);
	padding: 0.1vw;
}
.delete{
	color: white !important;
}

//sidenav stuff
.sidepopup h1{
	padding-left: 0 !important;
}
.side{
	height: 100vh;
	width: 0;
	background-color: rgba(0,0,0,1);
	visibility: hidden;
	transition: 0.1 ease-in-out;
	position: absolute;
	left: -25vw;
	top: 0;
	padding-top: 60px;
}
.transition{
	transition: 0.1s ease-in-out;
}
.sidepopup{
	padding: 1vw;
	padding-top: 6vw;
	width: 100vw;
	box-sizing: border-box;
	visibility: visible;
	transition: 0.1s ease-in-out;
	left: 0;
	text-align: center;
	z-index: 9;
	font-family: Montserrat !important;
}
.fa-bars{
	margin-left: 20px;
	margin-top: 20px;
	padding: 5px 8px;
	// border: 2px solid black;
	float: left;
	color: white;
	background-color: transparent;
}
#not_taken .fa-bars{
	margin-left: 5px !important;
	margin-top: 5px !important;
}
.fa:hover{
	cursor: pointer;
}
.fa-times{
	position: absolute;
	top: 15px;
	right: 15px;
	color: rgba(235, 64, 52, 1);
}
.item{
	z-index: 10;
	text-transform: uppercase;
	color: rgba(235, 64, 52, 1);
	font-weight: bold;
	font-size: 2.60417vw;
	list-style: none;
	margin-bottom: 2.90417vw;
	position: relative;
	display: inline-block;
}
.item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.item a{
	color: rgba(255,255,255,1);
	font-family: "Montserrat";
	font-weight: 600;
	text-decoration: none;
	letter-spacing: 0em;
}
.item_container{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	width: 90%;
	padding-top: 5%;
}
.brand{
	color: rgba(50, 168, 141, 1);
	font-family: "Montserrat";
	font-weight: 600;
	text-decoration: none;
	letter-spacing: 0;
	font-size: 50px;
	margin-bottom: 20px;
}
.profile{
	position: absolute;
	bottom: 7%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.logout{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 50px;
}
.logout a{
	font-size: 25px;
}
/////

#delete_button_profile a:hover{
	text-decoration: none;
	color: #007bff;
}
a{
	color: white;
}
#av2{
	color: blue !important;
}
#editprofile{
	color: white;
	text-decoration: underline;
}
input[type="checkbox"]{
	transform: scale(0.9);
	background: black !important;
}
input[type="checkbox"]:focus{
	outline-color: transparent !important;
	box-shadow: none !important;
}
/*Responsive stuff*/

/*End*/

@media screen and (max-width: 683px){
	.container{
		padding: 0px !important;
	}
	.large_content{
		color: red;
		background-color: black;
		margin-right: 0px !important;
		width: 100vw !important;
	}
	.large_content p{
		max-width: 90%;
	}
	.small_content{
		padding: 15px;
		// background-color: green;
		// background-image: none;
	}
	.col-md-6{
		max-width: 90%!important;
	}
	.nav-item:hover:before {
	  visibility: hidden;
	  -webkit-transform: scaleX(1);
	  transform: scaleX(1);
	}
}
@media screen and (max-width: 1370px){

	#body{
		height: 120vh;
	}
	
}
@media screen and (max-width: 1000px){
	#body{
		height: 140vh;
	}
}
@media screen and (max-width: 600px){
	.navbar{
		padding-bottom: 10px!important;
	}
	#bg-dark{
		background-color: #343A40 !important;
	}
	body{
		max-height: 100vh !important;
	}
	.large_content{
		width: 100vw;
		padding-top: 0px;
		padding-bottom: 50px;
		background-image: url("https://images.pexels.com/photos/159752/pencil-office-design-creative-159752.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
		// background-image: url("https://s3.envato.com/files/233994195/590x332.jpg");
		background-repeat: no-repeat;
		background-position: 20% 50%;
		background-size: cover;
		text-align: center;
		justify-content: center;
	}
	.idk{
		min-height: 100vh;
		width: 100vw;
		padding: 0px;
	}
	.container{
		width: 100%;
	}
	.large_content h1{
		font-size: 12.725vw !important;
		// width: 94vw;
		padding-top: 15vh;
		padding-bottom: 2.6vw;
		margin: auto;
		margin-bottom: 5vh;
		padding-left: 10vw;
		padding-right: 10vw;
	}
	.large_content p{
		max-width: 35%;
		width: 100vw;
		font-size: 4.5vw;
		font-family: Lato;
		margin: 0;
		padding: 0;
		// border: 1px solid white;
	}
	.large_content button{
		padding: 2px 4px;
		font-size: 15px;
		border-radius: 5em;
		margin-top: 10%;
		margin-bottom: 0%;
	}
	.idk button{
		padding: 2px 4px;
		font-size: 15px;
		border-radius: 5em;
		margin-top: 10%;
		margin-bottom: 0%;
	}
	.small_content{
		// background-image: none;
		padding: 25px;
		// background-color: green;
		margin-bottom: 0px;
	}
	.container{
		padding: 0px;
	}
	.col-md-6{
		max-width: 90%;
	}
	.nav-item:hover:before {
	  visibility: hidden;
	  -webkit-transform: scaleX(1);
	  transform: scaleX(1);
	}
	#body{
		height: 130vh;
	}
	#body form{
		width: 90% !important;
	}
	.side{
		font-size: 8vw !important;
	    align-items: center;
	    padding-top: 0 !important;
	}
	.fa-times{
		font-size: 5.6vw !important;
	}
	.sidepopup{
		padding-top: 70px !important;
		width: 100vw !important;
		padding-left: 9vh !important;
		padding-right: 9vh !important;
		// padding-top: 60px !important;
		font-size: 8vw !important;
	}
	.sidepopup .item, .side .item{
		font-size: 8vw !important;
	}
	.item{
		margin-bottom: 10vw !important;
	}
	#animatedbutton{
		transform: scale(0.9);
		border: 1px solid black;
	}
	#createsubjectbutton{
		padding: 3vw !important;
		font-size: 3vw !important;
		margin-top: 0 !important;
		margin-bottom: 2vw !important;
		border-radius: 20px;
	}
	.studygroupdisplaycard, .tutordisplaycard{
		width: 85vw !important;
		max-width: 100vw !important;
		height: 15vh !important;
	}
	.groupsize{
		padding: 5px !important;
		font-size: 50px !important;
		height: 60% !important;
	}
	.tutorgrade{
		height: 100% !important;
		font-size: 55px !important;
		padding: 10px !important;
	}
	.availablespots{
		font-size: 3vw !important;
		height: 40% !important;
	}
	.host{
		width: 50% !important;
		font-size: 4.5vw !important;
		padding-top: 4vw;
		text-transform: capitalize;
	}
	.tutorname{
		width: 70% !important;
		font-size: 4vw !important;
	}
	.location{
		font-size: 15px !important;
	}
	.creatorname{
		margin-bottom: 2vh !important;
		font-size: 3vw !important;
	}
	.contact, .rate{
		font-size: 3vw !important;
	}
	.studydate, .date{
		font-size: 3vw !important;
		// right: 10vw !important;
	}
	.loc-popup{
	    position: absolute !important;
	    left: 80% !important;
	    top: 4% !important;
	    color: black !important;
	    background: transparent !important;
	    padding: 1.5vw !important;
	    max-width: 100% !important;
	    width: 14vw !important;
	    -webkit-transform: scaleY(1) !important;
	    transform: scaleY(1) !important;
	    -webkit-transition: -webkit-transform 0.3s;
	    transition: -webkit-transform 0.3s;
	    transition: transform 0.3s;
	    transition: transform 0.3s, -webkit-transform 0.3s;
	    font-size: 15px !important;
	    display: inline-block !important;
	}
	.fa-map-marker{
		display: none !important;
	}
	.studygroupsendrequest, .tutorsendrequest{
	    height: 30% !important;
	    padding: 0px !important;
	    position: absolute !important;
	    left: 50% !important; 
	    top: 50% !important;
	    width: 60vw !important;
	    transform: translate(-50%, -50%) !important;
	    font-size: 40px !important;
	    border-radius: 10px;
	}
	.studygroupsendrequest input, .tutorsendrequest input{
		height: 5vh !important;
		width: 90% !important;
		font-size: 13px !important;
		margin: auto;
		margin-bottom: 5px !important;
		padding: 5px !important;
		padding-left: 10px !important;
	}
	.studygroupsendrequest .fa-times, .tutorsendrequest .fa-times{
		position: absolute;
		top: 6px;
		right: 6px;
	}
	
	.fa-bars{
		margin-top: 20px;
		margin-left: 20px;
	}
	.item_container{
		height: 100%;
		width: 90%;
		padding-top: 10%;
	}
	.profile{
		margin-bottom: 10vh;
	}
	h1#bob{
		font-size: 16px !important;
	}
	#bob p, #bob #editprofile a, #bob table tbody, #bob table th,#req-responsive p, #req-responsive table tbody, #req-responsive table th{
		font-size: 15px !important;
	}
	#createsubjectbutton{
		border-radius: 5px !important;
		margin: 10px 0px !important;
	}
	#req-responsive{
		display: block;
	}
	div.requests{
		display: none;
	}
	#dropdown-subjects{
		display: block;
		padding: 40px 20px 10px 20px;
	}
	.listsubjects{
		display: none;
	}
	#not_taken{
		padding-left: 10px;
	}
	.requestscontainer-responsive{
		display: block;
	}
	.requestscontainer{
		display: none;
	}
	#dropdown-responsive-subjects{
		display: block !important;
		width: 90vw !important;
		margin: auto;
	}
	#checkbox-desktop-subjects{
		display: none !important;
	}
}
@media screen and (max-width: 667px){
	.large_content{
		color: red;
		background-color: black;
	}
	.large_content p{
		max-width: 90%;
	}
	.small_content{
		padding: 15px;
		// background-color: green;
		// background-image: none;
	}
	.col-md-6{
		max-width: 90%;
	}
	
}
#email{
	margin-bottom: 2vh !important;
}
.adminPageGradeName{
	color: white;
}
#clear_users{
	background-color: BurlyWood !important;
	font-weight: bold;
	width: auto;
	padding: 25px 25px;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	display: inline-block;
}