button:focus{
	outline: 0;
}
.row{
	margin: 0px;
}
#border{
	border-right: 1px solid white;
}
#bob{
	padding: 25px;
}
.small_content{
	padding: 250px 300px 300px 300px;
	padding: 30px;
	width: 100%;
	padding-left: 25%;
	padding-right: 25%;
	padding: 300px;
	font-family: Signika;
	font-size: 50px;
	color: white;
	float: center;
	display: block;
	background-color: #eee;
	padding-bottom: 100px;
	//background-color: #669999;
	background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/29/37/07583f8326c8274.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.small_content p{
	font-size: 20px;
	font-family: Lato;
	text-align: center;
}
.col-lg-6{
	text-align: center;
	padding-bottom: 20px;
}
#large_content{
	padding-bottom: 50px;
}
.large_content{
	padding-bottom: 50px;
	text-align: center;
	padding-top: 100px;
	background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
}
.large_content h1{
	color: white;
	font-weight: bold;
	font-family: Cabin;
	font-size: 90px;
	margin-bottom: 50px;
	z-index: 100;
}
.large_content p{
	color: white;
	font-family: Signika;
	font-size: 27px;
	max-width: 50%;
	position: relative;
	top: 0;
	line-height: 1.8em;
	margin-bottom: 50px;
}
#homep{
	width: 100%;
	text-align: center;
	display: inline-block;
}
.large_content button{
	font-family: Lato;
	font-size: 22px;
	margin-top: 30px;
	width: 10em;
	height: 3em;
	border-radius: 10em;
	background-color: white;
	transition: 0.3s;
}
.large_content button:hover{
	transition: 0.3s;
	background-color: #19F5E5;
	cursor: pointer;
}
.container-fluid{
	padding: 0;
	width: 50%;
}
.container{
	max-width: 100%;
}
#color{	
	background-color: #eee;
	padding-right: 10px;
	padding: 30px;
}
.col-lg-8 p{
	font-size: 17px;
	line-height: 2em;
}
.col-lg-8 button{
	position: relative;
	padding: 15px;
	width: 10em;
	border-radius: 10px;
}
.col-lg-4{
	overflow: hidden;
}
.specific_content{
	width: 100%;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: black;
}
.img{
	height: 256px;
	width: 256px;
	overflow: hidden;
}
.img img{
	height: 256px;
	width: 256px;
}
#top{
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	border-radius: 10em;
	width: 5em;
	background-color: white;
	transition: 0.3s;
}
#top:hover{
	background-color: #eee;
	transition: 0.3s;
	cursor: pointer;
}
/*Navbar stuff
*/
.navbar{
  padding-bottom: 0;
  font-family: Signika;
}
.navbar-light .navbar-brand {
	font-size: 15px;
}
.nav-item{
  font-size: 16px;
  position: relative;
  color: #000;
  text-decoration: none;
  padding-bottom: 0.3rem;
}
.nav-item:hover {
  color: black;
}
.nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: teal;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.nav-link:hover{
	color: black;
}
/*End Navbar Stuff*/
/*Back to top Button*/
#back2Top {
	opacity: 0.7;
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #333333;
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
	transition: 0.5s;
}
#back2Top:hover {
	transition: 0.3s ease-out;
    background-color: #fcfcfc;
    color: #000;
}


/*End Back to Top*/
/*hamburger menu*/
.hmenu{
	width: 20px;
	height: 2px;
	background-color: gray;
	margin-top: 5px;
}
#hmenu{
	padding-top: 2%;
	float: left;
	cursor: pointer;
	margin-right: 20px;
}
#hmenu:hover:before{
	visibility: hidden;
}
/*end hamburger menu*/
	/* filler div*/
.filler{
	height: 100px;
}		

/*end filler div*/

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: left;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: Signika;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;		}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav h1{
	text-align: left;
	font-size: 38px;
	color: white;
	padding-left: 20px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .2s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#body{
	padding-top: 0;
}

/*Tutor signup css*/
.col-md-6{
	padding: 50px;
	text-align: center;
	max-width: 50%;
	margin: auto;
}
h1{
	padding-left: 50px;
	padding-top: 50px;
}
#bottominput{
	margin-bottom: 24px;
}
.col-lg-6 p{
	display: inline;
	padding-top: 1em;
	width: 50%;
	margin: 0;
	text-align: center;
	left: 0;
	top: 30%;
	z-index: 100;
}
.col-lg-6 h1{
	z-index: 100;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}