// @font-face {
//   font-family: Oswald-Regular;
//   src: url('../fonts/Oswald-Regular.ttf'); 
// }

// @font-face {
//   font-family: Oswald-Medium;
//   src: url('../fonts/Oswald-Medium.ttf'); 
// }

// @font-face {
//   font-family: SixCaps;
//   src: url('../fonts/SixCaps.ttf'); 
// }

// @font-face {
//   font-family: Krub;
//   src: url('../fonts/Krub-Regular.ttf'); 
// }

button:focus{
	outline: 0;
}
.row{
	margin: 0px;
}
#border{
	border-right: 1px solid white;
}
.small_content{
	padding: 200px;
	width: 100%;
	font-family: Signika;
	font-size: 50px;
	color: white;
	float: center;
	display: block;
	background-color: #eee;
	//background-color: #669999;
	background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/29/37/07583f8326c8274.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}
.small_content p{
	font-size: 20px;
	font-family: Lato;
	text-align: center;
}
.col-lg-6{
	text-align: center;
	padding-bottom: 20px;
}
#large_content{
	padding-bottom: 50px;
}
.large_content{
	padding-bottom: 50px;
	text-align: center;
	padding-top: 100px;
	background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}
.large_content a{
	width: auto;
}
.large_content h1{
	color: white;
	font-weight: bold;
	font-family: Cabin;
	font-size: 90px;
	margin-bottom: 50px;
	z-index: 100;
}
.large_content p{
	color: white;
	font-family: Signika;
	font-size: 27px;
	max-width: 50%;
	position: relative;
	top: 0;
	line-height: 1.8em;
	margin-bottom: 50px;
}
#homep{
	width: 100%;
	text-align: center;
	display: inline-block;
}
#animatedbutton{
	// font-family: Lato;
	// font-size: 22px;
	// margin-top: 30px;
	// width: 7em;
	// height: 3em;
	// border-radius: 5em;
	// background-color: white;
	// transition: 0.3s;
	// padding: 10px 10px;
	color: black;
	
	margin: 20px auto;
	display: block;
	padding: 14px 10px;
	background-color: rgba(255, 255, 255, 1);
	text-align: center;
	width: 200px;
	outline: blue;
	border: 2px solid #3498db;
	border-radius: 24px;
	transition: 0.3s;
}
#specialanimatedbutton{
	color: black;
	margin: 20px auto;
	display: block;
	padding: 14px 10px;
	background-color: rgba(255, 255, 255, 1);
	text-align: center;
	width: 200px;
	outline: blue;
	border: 2px solid #3498db;
	border-radius: 24px;
	transition: 0.3s;
}
#specialanimatedbutton:hover{
	text-decoration: none;
	transition: 0.3s;
	border-color: #2ecc71;
	background-color: #222222;
	color: white;
}
#animatedbutton:hover{
	text-decoration: none;
	width: 280px;
	transition: 0.3s;
	border-color: #2ecc71;
	background-color: #222222;
	color: white;
}
.idk{
	font-family: Lato;
	font-size: 22px;
	margin-top: 30px;
	width: 7em;
	height: 3em;
	border-radius: 5em;
	background-color: white;
	transition: 0.3s;
	padding: 5px 5px;
	border-radius: 50%;
}
.overwrite{
	font-family: Lato;
	font-size: 22px;
	margin-top: 30px;
	width: 10em;
	height: 3em;
	border-radius: 10em;
	background-color: black;
	transition: 0.3s;
}
.large_content button:hover{
	transition: 0.3s;
	background-color: lightslategray;
	cursor: pointer;
}
.idk button:hover{
	transition: 0.3s;
	background-color: lightslategray;
	cursor: pointer;
}
.container-fluid{
	padding: 0;
	width: 50%;
}
.container{
	max-width: 100%;
}
#color{	
	background-color: #eee;
	padding-right: 10px;
	padding: 30px;
}
.col-lg-8 p{
	font-size: 17px;
	line-height: 2em;
}
.col-lg-8 button{
	position: relative;
	padding: 15px;
	width: 10em;
	border-radius: 10px;
}
.col-lg-4{
	overflow: hidden;
}
.specific_content{
	width: 100%;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: black;
}
.img{
	height: 256px;
	width: 256px;
	overflow: hidden;
}
.img img{
	height: 256px;
	width: 256px;
}
#top{
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	border-radius: 10em;
	width: 5em;
	background-color: white;
	transition: 0.3s;
}
#top:hover{
	background-color: #eee;
	transition: 0.3s;
	cursor: pointer;
}
/*Navbar stuff
*/
.navbar{
  padding-bottom: 0px !important;
  font-family: Signika;
}
.navbar-light .navbar-brand {
	font-size: 15px;
}
.nav-item{
  font-size: 16px;
  position: relative;
  color: #000;
  text-decoration: none;
  padding-bottom: 0.3rem;
}
.nav-item:hover {
  color: black;
}
//CODE TO MAKE LINE APPEAR BELOW ELEMENTS IN NAVBAR
.nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: teal;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
//end navbar
.nav-link:hover{
	color: black;
}
/*End Navbar Stuff*/

/*hamburger menu*/
.hmenu{
	width: 20px;
	height: 2px;
	background-color: gray;
	margin-top: 5px;
}
#hmenu{
	padding-top: 2%;
	float: left;
	cursor: pointer;
	margin-right: 20px;
}
#hmenu:hover:before{
	visibility: hidden;
}
/*end hamburger menu*/
	/* filler div*/
.filler{
	height: 100px;
}		

/*end filler div*/

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.2s; /* 0.5 second transition effect to slide in the sidenav */
    text-align: left;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: Signika;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;		}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenav h1{
	text-align: left;
	font-size: 38px;
	color: white;
	padding-left: 20px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .2s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#body{
	padding-top: 0;
}

/*Tutor signup css*/
.col-md-6{
	padding: 50px;
	text-align: center;
	max-width: 30% !important;
	margin: auto;
}
h1{
	padding-left: 50px;
	padding-top: 50px;
}
#bottominput{
	margin-bottom: 24px;
}
.col-lg-6 p{
	display: inline;
	padding-top: 1em;
	width: 50%;
	margin: 0;
	text-align: center;
	left: 0;
	top: 30%;
	z-index: 100;
}
.col-lg-6 h1{
	z-index: 100;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

center{
	text-align: center;
}
//media queries
@media only screen and (max-width: 760px){
	.large_content h1{
		text-align: center;
	}
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray-lighter;
  }
}
#lettercolor{
	color: black;
}


.defaultlink{
	color: #0645AD;
}
.defaultlink:hover{
	color: #0645AD;
	text-decoration: underline;
}

/*Responsive stuff*/

/*End*/

@media screen and (max-width: 683px){
	.container{
		padding: 0px !important;
	}
	.large_content{
		color: red;
		background-color: black;
		margin-right: 0px !important;
		width: 100vw !important;
	}
	.large_content p{
		max-width: 90%;
	}
	.small_content{
		padding: 15px;
		background-color: green;
		background-image: none;
	}
	.col-md-6{
		max-width: 80%!important;
	}
}
@media screen and (max-width: 600px){
	.navbar{
		padding-bottom: 10px!important;
	}
	.large_content{
		width: 100vw;
		padding-top: 0px;
		padding-bottom: 50px;
		background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		justify-content: center;
	}
	.idk{
		min-height: 100vh;
		width: 100vw;
		padding: 0px;
	}
	.container{
		width: 100%;
	}
	.large_content h1{
		font-size: 59px;
		// width: 94vw;
		padding-top: 20vh;
		padding-bottom: 5vh;
		margin: auto;
		margin-bottom: 5vh;
		padding-left: 10vw;
		padding-right: 10vw;
	}
	.large_content p{
		max-width: 35%;
		width: 100vw;
		font-size: 23px;
		font-family: Lato;
		margin: 0;
		padding: 0;
		// border: 1px solid white;
	}
	.large_content button{
		padding: 2px 4px;
		font-size: 15px;
		border-radius: 5em;
		margin-top: 10%;
		margin-bottom: 0%;
	}
	.idk button{
		padding: 2px 4px;
		font-size: 15px;
		border-radius: 5em;
		margin-top: 10%;
		margin-bottom: 0%;
	}
	.small_content{
		background-image: none;
		padding: 25px;
		background-color: green;
		margin-bottom: 0px;
	}
	.container{
		padding: 0px;
	}
	.col-md-6{
		max-width: 90%;
	}
}
@media screen and (max-width: 667px){
	.large_content{
		color: red;
		background-color: black;
	}
	.large_content p{
		max-width: 90%;
	}
	.small_content{
		padding: 15px;
		background-color: green;
		background-image: none;
	}
	.col-md-6{
		max-width: 90%;
	}
}

/*End Responsive Stuff*/

.login_background{
	background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-size: 100%;
}
#bob{
	color: white;
}
#edit_profile{
	width: 10em;
}
#not_taken{
	background-image: url("https://fcit.usf.edu/matrix/wp-content/uploads/2016/12/blur-1866562_wide.jpg");
	background-size: 100%;
}
#martin{
	 background-image: url("https://img1.akspic.com/image/114418-skyscraper-architect-modern_architecture-day-glass-1280x1024.jpg");
	 background-size: 100%;
}
#not_taken{
	height: 100vh;
}
#not_taken .row{
	height: 100%;
}
#not_taken h1{
	color: white;
}
#center_save_changes{

	text-align: center;

	text-align:center;
}
table, th, td {
  border: 1px solid white;
  font-size: 30px;

}
#createsubjectbutton{
	padding: 20px;
	font-family: Lato;
	font-size: 20px;
}
#createsubjectdropdown{
	padding: 10px;
}
#createsubjectlargecontent{
	background-image: url("https://img1.akspic.com/image/114418-skyscraper-architect-modern_architecture-day-glass-1280x1024.jpg");
}
#createsubjecth1{
	color: white;
}
input, select{
	border-radius: 20px!important;
}
.dropdown-toggle{
	color: #007bff !important;
}
#tutor_signup_large_content{
	background-image: url("https://img1.akspic.com/image/114418-skyscraper-architect-modern_architecture-day-glass-1280x1024.jpg");
}
#change_profile_pic{
	height: 80px;
	padding-top: 25px;
}
.flash{
	padding-top: 250px;
}

//admin tutors page
ul.tutors{
	list-style: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	text-align: left;
}
ul.tutors li{
	// margin-bottom: 10px;
	border: 1px solid black;
	border-bottom: none;
	color: black;
	width: auto;
	padding: 10px;
	background-color: transparent;
}
ul.tutors li:last-child{
	border-bottom: 1px solid black;
}
ul.tutors li:hover{
	outline: #4d90fe solid 1px;
	background-color: #e8f0fe;
	border-top: 1px solid white;
}
ul.tutors li img{
	width: 40px;
}
#admintutors{
	background-image: url("https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	background-size: cover;
}
#VisualSubjects tr th{
	font-weight: normal;
	font-family: "Arimo";
#VisualTable{
	color: white;
}
#VisualSubjects{
	color: white;
}
#downloadExcel{
	position: absolute;
	margin-left: 0%;
}