 <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "study help", root_path, id: "logo" %>
    <nav>
      </p>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "About",   about_path %></li>
      </ul>
    </nav>
  </div>
</header>