<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="jquery-3.3.1.min.js"></script>
</head>
<body>
  <nav class="sidenav">
		<i class="fa fa-bars fa-2x"></i>
		<div class="side">
			<i class="fa fa-times fa-2x"></i>
			<li class="item"><a href="/home">Home</a></li>
			<li class="item"><a href="/about">About</a></li>
			<li class="item"><a href="/help">Help</a></li>
			<li class="item"><a href="/studygroups">Study Groups</a></li>
			<li class="item profile">
				<i class="fa fa-user"></i>
				<a href="#">Profile</a>
			</li>
		</div>
	</nav>
</body>