<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="jquery-3.3.1.min.js"></script>
</head>
<body>
  <nav class="sidenav">
		<i class="fa fa-bars fa-2x"></i>
		<div class="side">
			<i class="fa fa-times fa-2x"></i>
			<li class="item"><a href="/home">Home</a></li>
			<li class="item"><a href="/about">About</a></li>
			<li class="item"><a href="/help">Help</a></li>
			<li class="item"><a href="/studygroup">Study Groups</a></li>
			<li class="item profile">
			
				 <% if Person.find_by(id: session[:tutor_id]) %>
				 		<i class="fa fa-user"></i>
						<% if Person.find_by(id: session[:tutor_id]).admin? %>
              <a href="/adminPage">Profile</a>
            <% else %>
                <%= link_to "Profile", person_path(Person.find_by(id: session[:tutor_id])) %></li>
            <% end %>
            <li class="divider"></li>
            <li class = "dropdown-item">
             <%= link_to "Log out", logout_path, method: :delete %>
				<% else %>
				<% end %>
			</li>
		</div>
	</nav>
</body>