 <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "be tUtOrEd", '#', id: "logo" %>
    <nav>
      </p>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   'home.html.erb' %></li>
        <li><%= link_to "Help",   'help.html.erb' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>